<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New File</title>
</head>
<body>
    <div align="center">
        <h1>Create New File</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${file}"
            method="post" enctype="multipart/form-data">
 
            <table border="0" cellpadding="10">
               <!--  <tr>
                    <td>File Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr> --> 
                <tr>
                    <td>select File</td>
                    <td><input type="file" name="file" /></td>
                </tr>                         
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>